<div id="sideNavBar">
    <div>
        <ul>
            <li class="active dashboard leftMenu">
                <a href="/dashboard">
                    <i class="fa fa-home"></i> Dashboard
                </a>
            </li>
            <!-- <li class="records leftMenu">
                <a href="/records">
                    <i class="fa fa-list"></i> Records
                </a>
            </li> -->
              <li class="records leftMenu">
                <a href="/managerecord">
                    <i class="fa fa-list"></i> Organization RecordManagement
                </a>
            </li>
            <!-- <li class="records leftMenu">
                <a href="/roledetails">
                    <i class="fa fa-list"></i> Organization Roles
                </a>
            </li> -->

            <li class="assetList leftMenu">
                <a href="/employeelist">
                    <i class="fa fa-list"></i> List of Employees 
                </a>
            </li>
            <!-- <li class="devicelist leftMenu">
                    <a href="/devicelist">
                        <i class="fa fa-list"></i> Devicelist
                    </a>
                </li>
                <li class="Tablesearch leftMenu">
                    <a href="/tablesearch">
                        <i class="fa fa-list"></i> Table ListData
                    </a>
                </li>
                <li class="Orgdetails leftMenu">
                        <a href="/organizationdetails">
                            <i class="fa fa-list"></i> Organization details
                        </a>
                    </li>
                    <li class="Homecost leftMenu">
                        <a href="/homecostdetails">
                            <i class="fa fa-list"></i> Home AppliancesCostdetails
                        </a>
                    </li>     -->

        </ul>
    </div>
</div>